.mapboxgl-popup .mapboxgl-popup-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: -2px;
  background: #161616;
}

.mapboxgl-popup-close-button {
  color: #fff;
}
