#svgDiv { z-index: -1; }

.mapboxgl-popup .mapboxgl-popup-content { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    background: #161616; 
    border-radius: 1.2%;
}

.mapboxgl-popup-close-button {
    color: #fff;
}