#bannerbtn {
    background-color: #161616;
    border: #fff solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8%;
    width: 18vw;
    height: 5.5vh;
}

.bannerActive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.bannerInActive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}
