.navbar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: #161616;
    float: left;
}
.nav {
}
/*
.rotate {
    animation: rotate-keyframes 1s;
}

@keyframes rotate-keyframes {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}
*/
